.idea/
/webInterface/Output/*
/webInterface/Pipfile.lock
/.vscode/
/webInterface/Output/Devices.txt
/webInterface/app/Output.IPs.txt
/webInterface/app/Output/Devices.txt
/webInterface/app/Output/IPs.txt
/webInterface/app/Output/scannedsubnet.xml
