.idea/
/webInterface/Output/*
/webInterface/Pipfile.lock
/.vscode/
/webInterface/Output/Devices.txt
/webInterface/app/Output.IPs.txt
/webInterface/app/Output/Devices.txt
/webInterface/app/Output/IPs.txt
/webInterface/app/Output/scannedsubnet.xml
/webInterface/app/Output/Port80.txt
/Code/Output/Devices.json
/Code/Output/fastportscan.xml
/Code/dist/
/Code/MANIFEST
/Pipfile
/Pipfile.lock
