<html>
<head>
    <title>{{ title }} - Test</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>

    <link href="https://unpkg.com/tabulator-tables@4.3.0/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.3.0/dist/js/tabulator.min.js"></script>

    <script src="{{ url_for('static', filename='index_handlers.js') }}" type=text/javascript></script>
</head>
<body>
<h1>Hello!</h1>
<div>
    <ul>
        <li>Interface:      {{ interface }} </li>
        <li>Private IP:     {{ hostname }} </li>
        <li> Gateway / Router IP :     {{ gateway }}</li>
        <li> Public IP:     {{ getpublicip }}</li>

    </ul>
</div>

<div class='container'>
    <h3>Run Scan</h3>
    <form>
        <a href=# id="test">
            <button class='btn btn-default'>Run Detailed Scan</button>
        </a>
         <a href=# id="fast">
            <button class='btn btn-default'>Run Quick Scan</button>
        </a>
         <a href=# id="ssh">
            <button class='btn btn-default'>Scan ssh</button>
        </a>
         <a href=# id="devices">
            <button class='btn btn-default'>Get Devices</button>
        </a>
        <a href=# id="make">
            <button class='btn btn-default'>List</button>
        </a>
        <a href=# id="iptext">
            <button class='btn btn-default'>iptext</button>
        </a>
    </form>

</div>

<div class="container">

    <h1>Device Table</h1>

    <div id="device-table"></div>
</div>

<nav>
    <h2>Results</h2>
    <ul>
        <li><a href="{{url_for('static', filename='scannedlist.html')}}"> Detailed Scan </a></li>
        <li><a href="{{url_for('static', filename='fastportscan.html')}}"> Fast Scan </a></li>
        <li><a href="{{url_for('static', filename='Port22.html')}}"> SSH Results </a></li>

        <li><a id="shodanOpen" href="#"> Check Exposure </a></li>
    </ul>
</nav>

</body>
</html>
